# Files #
#########
zip-queue/zip-queue.iws
zip-queue/.idea/dataSources.local.xml
zip-queue/src/study/task/FileTest.java
files/inputsv2.zip

# Directories #
###############
zip-queue/out/
zip-queue/.build/

